.button
{
    background-color: var(--main-secondary-color);
    padding: 7px 17px;
    margin-left: 20px;

    font-size: 20px;
    border-radius: 10px;

    box-sizing: border-box;
    border: none;
    box-shadow: none;
}

.button:hover
{
    color: var(--main-link-hover-color);
}

.button:active
{
    box-shadow: -1px -1px rgb(26, 26, 26);
    color: var(--main-link-color)
}

@media only screen and (max-width: 1600px) {
    .button {
        font-size: 18px;
    }
}

@media only screen and (max-width: 1200px) {
    .button {
        font-size: 16px;
        padding: 5px 12px;
        border-radius: 7px;
        margin-left: 16px;
    }
}

@media only screen and (max-width: 1000px) {
    .button {
        font-size: 13px;
    }
}

@media only screen and (max-width: 800px) {
    .button {
        font-size: 10px;
        padding: 4px 10px;
        border-radius: 5px;
        margin-left: 11px;
    }
}