@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --main-bg-color: #34495E;
  --main-secondary-color: #4267B2; 
  --main-link-color: #00A3FF;
  --main-link-hover-color: #4bbdff;
  --main-letter-color: #ECF0F1;
}

*
{
  color: var(--main-letter-color);
  font-family: Inter, sans-serif;

  padding: 0;
  margin: 0;
}

body {
  min-height: 100%;
  background-color: var(--main-bg-color);
}

.main
{
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1920px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
